export("norm_fc", "plot_ratios")
import("NanoStringNorm")
importFrom("stats", "sd")
importFrom("utils", "write.csv", "write.table", "read.csv")
importFrom("gplots", "heatmap.2", "greenred")
importFrom("graphics", "par")
importFrom("grDevices", "dev.off", "png")
